[submodule "submodules/chronos"]
	path = submodules/chronos
	url = git@github.com:VolatileDream/chronos.git
[submodule "submodules/tup"]
	path = submodules/tup
	url = https://github.com/gittup/tup.git
[submodule "submodules/inotify-tools"]
	path = submodules/inotify-tools
	url = git@github.com:VolatileDream/inotify-tools
[submodule "submodules/zzzcron"]
	path = submodules/zzzcron
	url = git@github.com:VolatileDream/zzzcron.git
[submodule "submodules/roll-dice"]
	path = submodules/roll-dice
	url = git@github.com:VolatileDream/roll-dice.git
