[submodule "submodules/chronos"]
	path = submodules/chronos
	url = https://github.com/VolatileDream/chronos.git
[submodule "submodules/tup"]
	path = submodules/tup
	url = https://github.com/gittup/tup.git
[submodule "submodules/inotify-tools"]
	path = submodules/inotify-tools
	url = https://github.com/VolatileDream/inotify-tools
[submodule "submodules/zzzcron"]
	path = submodules/zzzcron
	url = https://github.com/VolatileDream/zzzcron.git
[submodule "submodules/pick"]
	path = submodules/pick
	url = https://github.com/thoughtbot/pick.git
[submodule "submodules/mwiki"]
	path = submodules/mwiki
	url = https://github.com/VolatileDream/mwiki.git
[submodule "submodules/ondir"]
	path = submodules/ondir
	url = https://github.com/alecthomas/ondir.git
[submodule "submodules/bloom-filter"]
	path = submodules/bloom-filter
	url = https://github.com/VolatileDream/bloom-filter.git
