[user]
	name = Gianni Gambetti
	email = gianni@gambetti.ca
	signingkey = 9C9F9B75
[push]
	default = simple
[grep]
	lineNumber = true
[alias]
	graph = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[fetch]
	recurseSubmodules = on-demand
